.popup_weather {
	&__condition {
		font-size: 1rem;
		font-weight: 100;
		line-height: 1rem;
	}
	&__icon {
		margin-right: 10px;
		width: 24px;
	}
	&__current {
		&__temp {
			font-size: 1.2rem;
			font-weight: 500;
			line-height: 1.2rem;
			&__minmax {
				font-size: 1rem;
				& span + span {
					position: relative;
					margin-left: 7px;
					&::before {
						content: '';
						position: absolute;
						display: inline;
						height: 15px;
						width: 6px;
						top: 50%;
						left: -7px;
						transform: translateY(-50%);
					}
					&:nth-child(1) {
						&::before {
							background: url(/public/icons/static/arrow_up.svg);

							background-repeat: no-repeat;
							background-size: contain;
						}
					}
					&:nth-child(2) {
						&::before {
							background: url(/public/icons/static/arrow_down.svg);
							background-repeat: no-repeat;
							background-size: contain;
						}
					}
				}
			}
		}
	}
}
