.weather__cards {
	max-width: 1100px;
	margin: auto;

	display: grid;
	padding: 10px;
	grid-template-columns: repeat(auto-fit, 170px);
	grid-template-rows: repeat(auto-fill, 170px);
	gap: 1rem;
	grid-auto-flow: dense;
	height: auto;
}

@media only screen and (max-width: 1280px) {
	.weather__cards {
		grid-template-columns: repeat(4, 170px);
	}
}

@media only screen and (max-width: 750px) {
	.weather__cards {
		grid-template-columns: repeat(3, 170px);
	}
}

@media only screen and (max-width: 550px) {
	.weather__cards {
		grid-template-columns: repeat(2, minmax(120px, 1fr));
		// column-gap: 10%;
	}
}
// @media only screen and (max-width: 1280px) {
// 	.weather__cards {
// 		grid-template-columns: repeat(4, 170px);
// 		grid-template-rows: repeat(auto-fill, 160px);
// 	}
// }
// @media only screen and (max-width: 768px) {
// 	.weather__cards {
// 		grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
// 		grid-template-rows: repeat(auto-fill, minmax(160px, 1fr));
// 	}
// }
// @media only screen and (max-width: 400px) {
// 	.weather__cards {
// 		grid-template-columns: repeat(auto-fill, minmax(max-content, 1fr));
// 		grid-template-rows: repeat(auto-fill, minmax(max-content, 1fr));
// 	}
// }
